@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);

/* Scrollbar --------------------------------------------------- */
::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
    height: 4px;
}
    ::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-surface-variant);
    border-radius: 4px;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--md-sys-color-primary)
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.circular-progress-indicator {
    stroke: var(--md-sys-color-primary);
}

body {
    overflow: overlay;
    padding: 0;
    margin: 0;
    background: var(--md-sys-color-background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;

}
#root {
    transition: all 0.5s linear;
    color: var(--md-sys-color-on-surface);

    display: grid;
    grid: 30px 80px 1fr 50px 30px / minmax(30px, 1fr) 10fr 350px minmax(30px, 1fr);
    grid-template-areas:
    ". . . ."
    ". h t ."
    ". m t ."
    ". f t ."
    ". f . .";
    justify-content: flex-start;
}
header {
    grid-area: h;
    display: grid;
    grid: 0 30px 50px / 80px 680px;
    align-items: center;
    gap: 0 30px;
}
header > svg {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    fill: none;
    stroke: var(--md-sys-color-primary);
    stroke-miterlimit: 10;
    stroke-width: 4px
}
header > .subtitle {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: var(--md-sys-color-on-surface-variant);
}
header > .title {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

main {
    grid-area: m;
    height: calc(100vh - 190px);

    display: flex;
    align-items: center;
    justify-content: center;
}
main > svg {
    stroke: var(--md-sys-color-primary);
    border: 1px dotted var(--md-sys-color-surface-variant);
    border-radius: 5px;
}

footer {
    grid-area: f;

    display: grid;
    grid: 35px 15px / 50px 250px;
    align-items: center;
    gap: 0 15px;
}
footer > svg {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    fill: var(--md-sys-color-on-surface);
    opacity: 0.1;
}
.footer-subtitle,
.footer-title {
    opacity: 0.1;
    transition: opacity 0.2s ease-in-out;
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
}
.footer-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.footer-subtitle {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.footer-subtitle-span {
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
}
.footer-title:hover {
    cursor: pointer;
    opacity: 1;
}
.footer-subtitle-span:hover {
    cursor: pointer;
    text-decoration: underline;
}


#tools {
    grid-area: t;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid var(--md-sys-color-outline);
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.tools-title {
    padding: 20px;
    background: var(--md-sys-color-surface-variant);
    border-bottom: 1px solid var(--md-sys-color-outline);
}
.tools-dimensions {
    padding: 10px;
    border-bottom: 1px solid var(--md-sys-color-outline);

    display: grid;
    grid: 40px 35px 55px 5px 45px 55px 5px 45px 55px 5px 45px 55px / 0 100px 1fr 40px;
    grid-template-areas:
    '. t t .'
    '. hi ht .'
    '. hi h .'
    '. . . .'
    '. wi wt .'
    '. wi w .'
    '. . . .'
    '. ri rt .'
    '. ri r .'
    '. . . .'
    '. si st .'
    '. si s .';
    align-items: center;
    gap: 0 25px;
}
.tools-dimensions > label {
    align-self: end;
    margin: 0 0 5px;
}
.tools-dimensions > input {
    align-self: start;
    width: 100%;
    height: 25px;
    padding: 2px 15px;
    background: none;
    outline: none;
    border: 1px solid var(--md-sys-color-outline);
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: var(--md-sys-color-on-surface);
}

.tools-dimensions-title {grid-area: t;}
.tools-dimensions-height-logo { grid-area: hi;}
.tools-dimensions-height-title { grid-area: ht;}
.tools-dimensions-height { grid-area: h;}

.tools-dimensions-width-logo { grid-area: wi;}
.tools-dimensions-width-title { grid-area: wt;}
.tools-dimensions-width { grid-area: w;}

.tools-dimensions-radius-logo { grid-area: ri;}
.tools-dimensions-radius-title { grid-area: rt;}
.tools-dimensions-radius { grid-area: r;}

.tools-dimensions-stroke-logo { grid-area: si;}
.tools-dimensions-stroke-title { grid-area: st;}
.tools-dimensions-stroke { grid-area: s;}

.tools-bottom {
    padding: 10px;
    border-bottom: 1px solid var(--md-sys-color-outline);

    display: grid;
    grid: 40px 10px 120px / 0 100px 1fr 40px 0;
    align-items: center;
    gap: 0 25px;
}
.style-title {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}
.style-container {
    grid-row: 3 / -1;
    grid-column: 1 / -1;

    display: grid;
    grid: 20px 30px 70px / 0 100px 1fr 40px;
    align-items: center;
    gap: 0 25px;
}
.no-color-title {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    padding-right: 20px;
}
.no-color {
    grid-row: 3 / 4;
    grid-column: 2 / -1;
}
.color-title {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: end;
}
#color {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    border-radius: 12px;
    padding: 0;
}

/* Download Button */
.download {
    padding: 20px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#download-btn {
    height: 40px;
    padding: 0 24px;
    border-radius: 24px;
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
#download-btn:hover {
    background: linear-gradient(0,
    rgba(var(--md-sys-color-on-primary--rgb), 0.08),
    rgba(var(--md-sys-color-on-primary--rgb), 0.08)),
    var(--md-sys-color-primary);
}

/* The switch */
.switch {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: end;
    position: relative;
    display: inline-block;
    width: 52px;
    height: 32px;
}
.switch > input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--md-sys-color-surface-variant);
    border: 2px solid var(--md-sys-color-outline);
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 6px;
    background: var(--md-sys-color-outline);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background: var(--md-sys-color-primary);
    border: 2px solid var(--md-sys-color-primary);
}
input:checked + .slider:before {
    height: 24px;
    width: 24px;
    left: -4px;
    bottom: 2px;
    background: var(--md-sys-color-on-primary);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media only screen and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        padding: 20px 0;
        display: grid;
        grid: 0 35px 100vw repeat(2, min-content) / 1fr;
        grid-template-areas: 
            "."
            "h"
            "m"
            "t"
            "f";
    }
    header {
        position: fixed;
        justify-self: center;
        display: grid;
        grid: 0 15px 20px / 35px 1fr;
        gap: 0 10px;
    }
    header > .subtitle {
        font-size: 13px;
    }
    header > .title {
        font-size: 23px;
    }
    main {
        position: fixed;
        top: 55px;
        width: 100vw;
        height: 100vw;
    }
    footer {
        margin-top: 20px;
        grid: 30px 15px / 45px 1fr;
        justify-self: center;
    }
}