@supports (-webkit-backdrop-filter: saturate(150%) blur(3px)) or (backdrop-filter: saturate(150%) blur(3px)) {
    .form-sent {
        -webkit-backdrop-filter: saturate(150%) blur(3px);
        backdrop-filter: saturate(150%) blur(3px);
    }
}

form {
    border-radius: 12px;
    background: linear-gradient(0,
    rgba(var(--md-sys-color-surface-tint--rgb), 0.05),
    rgba(var(--md-sys-color-surface-tint--rgb), 0.05)),
    var(--md-sys-color-surface);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
form > div {
    position: relative;
    display: flex;
    align-items: center;
}
form > div > textarea,
form > div > input {
    width: 100%;
    height: 56px;
    padding: 16px 42px 16px 16px;
    border: 1px solid var(--md-sys-color-outline);
    border-radius: 4px;
    outline: none;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--md-sys-color-on-surface);
    background: linear-gradient(0,
    rgba(var(--md-sys-color-surface-tint--rgb), 0.05),
    rgba(var(--md-sys-color-surface-tint--rgb), 0.05)),
    var(--md-sys-color-surface);
    transition: all 0.1s ease-in-out;
}
form > div > textarea {
    resize: none;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
}
form > div > textarea:hover,
form > div > input:hover {
    border: 1px solid var(--md-sys-color-on-surface);
}
form > div > textarea:focus,
form > div > input:focus {
    border: 2px solid var(--md-sys-color-primary);
    padding: 15px 41px 15px 15px;
}
form > div > textarea.error,
form > div > input.error {
    border: 2px solid var(--md-sys-color-error);
    padding: 15px 41px 15px 15px;
}
form > div > label {
    position: absolute;
    top: 16px;
    left: 16px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--md-sys-color-on-surface-variant);
    transition: all 0.1s linear;
    display: flex;
    align-items: center;
}
form > div > textarea:not(:placeholder-shown) + label,
form > div > textarea:focus + label,
form > div > input:not(:placeholder-shown) + label,
form > div > input:focus + label,
form > div > .supporting-text,
form > div > .error-label {    
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--md-sys-color-on-surface-variant);
    transition: all 0.1s linear;
}
form > div > textarea:not(:placeholder-shown) + label,
form > div > input:not(:placeholder-shown) + label, 
form > div > textarea:focus + label,
form > div > input:focus + label {
    left: 12px;
    top: 0;
    height: 1px;
    padding: 0 4px;
    background: linear-gradient(0,
    rgba(var(--md-sys-color-surface-tint--rgb), 0.05),
    rgba(var(--md-sys-color-surface-tint--rgb), 0.05)),
    var(--md-sys-color-surface);
}
form > div > textarea:focus + label,
form > div > input:focus + label,
form > div > textarea:focus:hover + label,
form > div > input:focus:hover + label {
    top: -1px;
    height: 3px;
    color: var(--md-sys-color-primary);
}
form > div > textarea:hover + label,
form > div > input:hover + label {
    color: var(--md-sys-color-on-surface);
}
form > div > .supporting-text,
form > div > .error-label {
    position: absolute;
    left: 16px;
    bottom: -20px;
}
form > div > .error-label {
    color: var(--md-sys-color-error);
}
form > div > .error-icon {
    position: absolute;
    top: 16px;
    right: 12px;
    font-variation-settings: 'FILL' 1;
    color: var(--md-sys-color-error);
}
form > div > button {
    position: absolute;
    right: 12px;
    top: 16px;
    width: 24px;
    border-radius: 12px;
    padding: 0;
    background: none;
    border: none;
    color: var(--md-sys-color-on-surface-variant);
}
form > div > button:hover {
    color: var(--md-sys-color-on-surface);
    cursor: pointer;
}
form.maintenance > button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: end;
}
form > button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    padding: 0 24px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
form > button.filled  {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
form > button.filled:hover {
    box-shadow: 0px 1px 2px rgb(0 0 0 / 10%), 0px 2px 6px 2px rgb(0 0 0 / 10%);
}
form > button.outlined  {
    border: 1px solid var(--md-sys-color-outline);
    background: none;
    color: var(--md-sys-color-primary);
}
form > button.outlined:hover {
    background: rgba(var(--md-sys-color-surface-tint--rgb), 0.05);
}
form > button.outlined:disabled,
form > button.outlined:disabled:hover  {
    background: none;
    border: 1px solid rgba(var(--md-sys-color-on-surface--rgb), 0.13);
    color: rgba(var(--md-sys-color-on-surface--rgb), 0.38);
    cursor: default;
}
.form-sent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
}
.form-sent > div {
    background: var(--md-sys-color-surface);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 2px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 160px 500px;
    gap: 16px;

    padding: 32px;
    font-size: 22px;
    line-height: 28px;
}
.form-sent > div > span:nth-child(1) {
    grid-column: 1 / -1;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}
.form-sent > div > button {
    grid-column: 1 / -1;
    margin-top: 16px;
}
.form-sent > div > span:nth-child(even) {
    justify-self: end;
    font-size: 16px;
    line-height: 24px;
    color: var(--md-sys-color-on-surface-variant);
}
.form-sent > div > span:nth-child(odd) {
    max-height: 350px;
    overflow: auto;
}

input[type="color"],
input[type="color"]:focus,
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    overflow: hidden;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}