@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(form.css);

/* Scrollbar --------------------------------------------------- */
::-webkit-scrollbar {
    cursor: pointer;
    width: 4px;
    height: 4px;
}
    ::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-surface-variant);
    border-radius: 4px;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--md-sys-color-primary)
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow: overlay;
    padding: 0;
    margin: 0;
    background: var(--md-sys-color-background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;

}
#root {
    transition: all 0.5s linear;
    color: var(--md-sys-color-on-surface);

    display: grid;
    grid: 30px 80px 1fr 50px 30px / minmax(30px, 1fr) 10fr 350px minmax(30px, 1fr);
    grid-template-areas:
    ". . . ."
    ". h t ."
    ". m t ."
    ". f t ."
    ". f . .";
    justify-content: flex-start;
}

main > div {
    display: flex;
    border: 1px dotted var(--md-sys-color-surface-variant);
    border-radius: 5px;
}
.circular-progress-indicator {
    stroke: var(--md-sys-color-primary);
}

header {
    grid-area: h;
    display: grid;
    grid: 0 30px 50px 30px / 80px 680px;
    align-items: center;
    gap: 0 30px;
}
header > svg {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    fill: none;
    stroke: var(--md-sys-color-primary);
    stroke-miterlimit: 10;
    stroke-width: 4px
}
header > div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: var(--md-sys-color-on-surface-variant);
}
header > div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
header > div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    color: var(--md-sys-color-on-surface-variant);
    justify-self: end;
}

main {
    grid-area: m;
    height: calc(100vh - 190px);

    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: f;

    display: grid;
    grid: 35px 15px / 50px 250px;
    align-items: center;
    gap: 0 15px;
}
footer > svg {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    fill: var(--md-sys-color-on-surface);
    opacity: 0.1;
}
.footer-subtitle,
.footer-title {
    opacity: 0.1;
    transition: opacity 0.2s ease-in-out;
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
}
.footer-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.footer-subtitle {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.footer-subtitle-span {
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
}
.footer-title:hover {
    cursor: pointer;
    opacity: 1;
}
.footer-subtitle-span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.tools {
    grid-area: t;
    display: grid;
    grid-template-rows: min-content repeat(7,56px) 40px 1fr;
    grid-template-columns: 0 100px 1fr 0;
    align-items: center;
    gap: 32px 16px;

    padding: 16px 0;
}
.tools > span,
.tools > button {
    grid-column: 2 / 4;
    align-self: end;
}
.tools > span {
    padding: 0 16px;
}
.tools > img {
    grid-column: 2 / 3;
    width: 80px;
    height: 80px;
}
.tools > div {
    grid-column: 3 / 4;
}

@media only screen and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        padding: 20px 0;
        display: grid;
        grid: 0 35px 100vw repeat(2, min-content) / 1fr;
        grid-template-areas: 
            "."
            "h"
            "m"
            "t"
            "f";
    }
    header {
        position: fixed;
        justify-self: center;
        display: grid;
        grid: 0 15px 20px / 35px 1fr;
        gap: 0 10px;
    }
    header > .subtitle {
        font-size: 13px;
    }
    header > .title {
        font-size: 23px;
    }
    main {
        position: fixed;
        top: 55px;
        width: 100vw;
        height: 100vw;
    }
    footer {
        margin-top: 20px;
        grid: 30px 15px / 45px 1fr;
        justify-self: center;
    }
}