@charset "utf-8";

.circular-progress-indicator {
    stroke-dasharray: 110 100;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        stroke-dashoffset: -113;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    6.25% {
        stroke-dashoffset: -205;
        -webkit-transform: rotate(-90deg);
        transform: rotate(0deg);
    }
    12.5% {
        stroke-dashoffset: -210;
        -webkit-transform: rotate(-90deg);
        transform: rotate(90deg);
    }
    18.75% {
        stroke-dashoffset: -290;
        -webkit-transform: rotate(-90deg);
        transform: rotate(180deg);
    }
    25% {
        stroke-dashoffset: -310;
        -webkit-transform: rotate(-90deg);
        transform: rotate(270deg);
    }
    50% {
        stroke-dashoffset: -323;
        -webkit-transform: rotate(-90deg);
        transform: rotate(450deg);
    }   
    56.25% {
        stroke-dashoffset: -415;
        -webkit-transform: rotate(-90deg);
        transform: rotate(540deg);
    }
    62.5% {
        stroke-dashoffset: -420;
        -webkit-transform: rotate(-90deg);
        transform: rotate(630deg);
    }
    68.75% {
        stroke-dashoffset: -500;
        -webkit-transform: rotate(-90deg);
        transform: rotate(720deg);
    }
    75% {
        stroke-dashoffset: -520;
        -webkit-transform: rotate(-90deg);
        transform: rotate(810deg);
    }
    100% {
        stroke-dashoffset: -533;
        -webkit-transform: rotate(-90deg);
        transform: rotate(990deg);
    }
}